<div class="startContainer">

    <!-- <header class="header">
        <div class="container__header">
        <div class="header__inner">
            <p data-typo>
            Есть много тактик, которые помогут добиться успешной карьеры. Одним комфортно пробовать себя в новых сферах, переходить из компании в компанию, встречаться с неожиданностями. Другим подходит строгое планирование, последовательный рост в рамках одного места и постепенное улучшение навыков в узкой специализации. 
            </p>
            <p data-typo>
            Чтобы достичь желаемого успеха, главное — анализировать свои действия и извлекать уроки даже из того опыта, который кажется ошибочным. В специальном проекте The Village и «Ростелекома» мы попросили читателей рассказать истории о своей карьере, а HR-специалистов — провести работу над ошибками. 
            </p>
        </div>
        </div>
    </header> -->

    <section class="moveline moveline3">
        <div class="moveline__container">
            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>
            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №1<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №1<span>>>>></span>
            </div>
        </div>
    </section>

    <div class="content content1">
        <div class="content__img"><img src="https://img.the-village.ru/Uj13W0z_4S-XldOgcp7iIsXe85jGzaVOoQhU8twIn5k/q:88/plain/2022/01/29/Frame.png" alt=""></div>
    
        <div class="content__container">

            <div class="content__container__wrapper">

                <div class="content__container_inner"  data-aos="fade-up" data-aos-duration="1000">

                    <!-- <div class="container_inner_cecle container_inner_cecle1">
                        <img src="https://cdn.the-village.ru/the-village.ru/2022/01/30/Subtract.svg" alt="">
                    </div> -->

                    <div class="container_inner_box">
                        <div class="container_inner_box_title" data-typo>
                            Урок №1
                        </div>
                        <div class="container_inner_box_text" data-aos="fade-right" data-aos-duration="1000" data-typo>
                            Как строить границы между работой и личной жизнью без вреда для карьеры
                        </div>
                    </div>
        
                    <div class="container_inner_box2">
                        <div class="container_inner_box2_title" data-typo>
                            Евгений
                        </div>
                        <div class="container_inner_box2_subtitle" data-typo>
                            account group head, 22 года
                        </div>
                        <div class="container_inner_box2_text" data-typo>
                            Считается, что путь к карьере — переработки, но не в моем случае. Работаю в агентстве перформанс-маркетинга 
                            чуть меньше полутора лет. За это время вырос от стажера до позиции account group head. Несмотря на 
                            внушительный поток задач, с самого начала работы в компании я строго придерживаюсь принципа бережного 
                            отношения к себе без ущерба для рабочих процессов. Я выстроил четкую систему отслеживания задач, 
                            структурировал их по приоритетности и постоянно совершенствуюсь как специалист, уходя при этом ровно в 19:00 
                            с окончанием рабочего дня. 
                        </div>
                    </div>
                </div>
        
                <div class="content__container_items"  data-aos="fade-up" data-aos-duration="1000">

                    <div class="content__container_items_wrapper">
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Нина Осовицкая
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор бренд-центра HH.ru
                            </div>
                            <div class="container_items_box_text" data-typo>
                                Подход Евгения говорит о его высоком профессиональном потенциале. Но, работая на агентской стороне, 
                                нужно быть готовым к форс-мажорным ситуациям. Я бы рекомендовала поднимать этот вопрос в процессе найма — 
                                как часто случаются рабочие вечера или выходные. Эти дни, безусловно, должны возвращаться в виде отгула в 
                                будни.
                            </div>
                        </div>
        
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Артем Попов
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор по стратегическим программам HR «Ростелекома»
                            </div>
                            <div class="container_items_box_text" data-typo>
                                В последние два года понятия «график работы» и «офисный формат работы» сильно изменились. 
                                Многие компании перешли на комбинированный формат, чередуя работу из дома и офиса, а другие и вовсе 
                                оставили полную удаленку. Руководителям уже не так важно видеть своих подчиненных на рабочем месте с 09:00 
                                до 18:00. Важен результат, а в какое время суток сотрудник достигает целей — его выбор, главное — 
                                укладываться в дедлайны. Именно удаленка, как лакмусовая бумажка, показала, насколько мы эффективны.
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            

        </div>
    </div>


    <section class="moveline moveline3">
        <div class="moveline__container moveline_orange">
            <div class="container__item">
            УРОК №2<span>>>>></span>
            </div>
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №2<span>>>>></span>
            </div>
        </div>
    </section>

    <div class="content content2" >
        <div class="content__img"><img src="https://img.the-village.ru/AfsFT_wJfPca2bBJNfDnE96NztFUD0Vfe-vHEyWd_x4/q:88/plain/2022/01/29/frame2.png" alt=""></div>
    
        <div class="content__container">

            <div class="content__container__wrapper">

                <div class="content__container_inner content__container_inner2"  data-aos="fade-up" data-aos-duration="1000">

                    <div class="container_inner_box">
                        <div class="container_inner_box_title" data-typo>
                            Урок №2
                        </div>
                        <div class="container_inner_box_text" data-aos="fade-right" data-aos-duration="1000" data-typo>
                            Есть ли универсальные стратегии, которые помогут подняться по карьерной лестнице
                        </div>
                    </div>
        
                    <div class="container_inner_box2">
                        <div class="container_inner_box2_title" data-typo>
                            София
                        </div>
                        <div class="container_inner_box2_subtitle" data-typo>
                            художница, 32 года
                        </div>
                        <div class="container_inner_box2_text" data-typo>
                            Чтобы искусство обрело видимость, считается, что художнику лучше окончить одну из школ современного искусства
                             — это дает возможность участвовать в выставках и напрямую общаться с кураторами. Я пошла по другому пути и 
                             начала делать выставки самостоятельно. Со временем аудитория увеличивалась, а выставки переросли в полноценные 
                             кураторские проекты. Сейчас я сотрудничаю с галереями современного искусства, а картины находятся в частных 
                             коллекциях в России и за рубежом. 
                        </div>
                    </div>
                </div>
        
                <div class="content__container_items content__container_items2"  data-aos="fade-up" data-aos-duration="1000">

                    <div class="content__container_items_wrapper">
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Нина Осовицкая
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор бренд-центра HH.ru
                            </div>
                            <div class="container_items_box_text" data-typo>
                                Есть бизнесы, которые давно существуют на рынке и не особенно меняются. Например, аудиторские или 
                                консалтинговые компании. Там требуется понятный набор компетенций, а карьерный путь в таких сферах можно 
                                назвать предсказуемым. В этом случае, конечно, стоит выбирать профильный вуз, участвовать в стажировках и 
                                кейс-чемпионатах. Искусство — это та сфера, где необходимы и высоко ценятся индивидуальные решения. Это 
                                вопрос профессионального самоопределения — предсказуемая дорога с расписанными этапами или маршрут с 
                                множеством тропок, где на каждом повороте могут быть сюрпризы. Работает и так и так.
                            </div>
                        </div>
        
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Екатерина Барабанова
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор по развитию персонала «Ростелекома»
                            </div>
                            <div class="container_items_box_text" data-typo>
                                <p>
                                    На историю успеха Софии можно взглянуть с двух сторон. С одной стороны, человек выбрал профессиональную 
                                    сферу, которая дает энергию и по-настоящему нравится. С другой — был план по достижению цели. 
                                    Для грамотного развития карьеры нужно думать и про сроки (горизонт планирования), и про ожидания по 
                                    задачам (чем вы хотите заниматься), доходу и формату работы.
                                </p>
                                <p>
                                    Конечно, есть общие рекомендации по планированию карьеры, от которых можно отталкиваться — большинство 
                                    людей делают именно так. Докрутить эти правила развития под себя помогают карьерные консультанты. В 
                                    “Ростелекоме”, например, этой задачей занимается отдельная команда. 
                                </p>
                                <p>
                                    Тем не менее иногда нужно искать свой путь. Особенно если вы понимаете, чего хотите, уже придумали план 
                                    действий и общие рекомендации вам явно не подходят. Тогда через пару лет и ваша история успеха станет 
                                    шаблоном развития и хрестоматийным примером для других.
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            

        </div>
    </div>


    <section class="moveline moveline3">
        <div class="moveline__container">
            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>
            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №3<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №3<span>>>>></span>
            </div>
        </div>
    </section>

    <div class="content content3">
        <div class="content__img"><img src="https://img.the-village.ru/KxpLPxVNpRubDk6xyurmasMCiPQxq_DigUmSIOYmFuQ/q:88/plain/2022/01/29/frame3.png" alt=""></div>
    
        <div class="content__container">

            <div class="content__container__wrapper">

                <div class="content__container_inner content__container_inner3" data-aos="fade-up" data-aos-duration="1000">

                    <div class="container_inner_box">
                        <div class="container_inner_box_title" data-typo>
                            Урок №3
                        </div>
                        <div class="container_inner_box_text" data-aos="fade-right" data-aos-duration="1000" data-typo>
                            Влияет ли везение 
                            на карьеру
                        </div>
                    </div>
        
                    <div class="container_inner_box2">
                        <div class="container_inner_box2_title" data-typo>
                            Александр
                        </div>
                        <div class="container_inner_box2_subtitle" data-typo>
                            руководитель проектов, 29 лет
                        </div>
                        <div class="container_inner_box2_text" data-typo>
                            Я руковожу проектами в московском офисе международной девелоперской компании. Начинал с ассистента команды и 
                            за три года вырос в руководителя. На мой взгляд, в карьере важны две вещи — трудолюбие и везение. На первый 
                            фактор ты можешь повлиять сам, а вот второго приходится ждать. Конечно, статистически большое количество 
                            попыток рано или поздно трансформируется в качество. Но, к сожалению, не все трудолюбивые люди становятся 
                            успешными в своей профессии. Вероятно, важно оказаться в нужном месте в нужное время. 
                        </div>
                    </div>
                </div>
        
                <div class="content__container_items content__container_items3" data-aos="fade-up" data-aos-duration="1000">

                    <div class="content__container_items_wrapper">
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Нина Осовицкая
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор бренд-центра HH.ru
                            </div>
                            <div class="container_items_box_text" data-typo>
                                Конечно, удача везде играет огромную роль. Интересно, что Александр отметил две вещи — трудолюбие и 
                                везение. Я бы все-таки не исключала третью — способности и таланты. Важно понять, к чему у вас есть 
                                предрасположенность. Управлять везением невозможно, но можно управлять своей возможностью ловить эти 
                                моменты. 
                            </div>
                        </div>
        
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Артем Попов
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор по стратегическим программам HR «Ростелекома»
                            </div>
                            <div class="container_items_box_text" data-typo>
                                Соглашусь с Александром: удача правда играет большую роль.
                                Некоторые карьерные маневры действительно происходят потому, что человек оказался в нужное время в 
                                нужном месте и в правильной компании. Но это не значит, что можно сложить руки и пустить работу и карьеру 
                                на самотек. Очень важна проактивность, ведь чем больше усилий вы прилагаете, тем больше шансов поймать 
                                удачу. И, наоборот, стоит относиться к некоторым карьерным промахам спокойно и без нервных срывов, помня, 
                                что не все на 100 % зависит только от вас, от случая — тоже.
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            

        </div>
    </div>

    <section class="moveline moveline3">
        <div class="moveline__container moveline_orange">
            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>
            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №4<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №4<span>>>>></span>
            </div>
        </div>
    </section>

    <div class="content content4">
        <div class="content__img"><img src="https://img.the-village.ru/_w49EjjVgkfFxaCFfOcBFhDt9u36J7SdER03J-Uv784/q:88/plain/2022/01/29/frame4.png" alt=""></div>
    
        <div class="content__container">

            <div class="content__container__wrapper">

                <div class="content__container_inner content__container_inner4" data-aos="fade-up" data-aos-duration="1000">

                    <div class="container_inner_box">
                        <div class="container_inner_box_title" data-typo>
                            Урок №4
                        </div>
                        <div class="container_inner_box_text" data-aos="fade-right" data-aos-duration="1000" data-typo>
                            Возможен ли профессиональный рост 
                            без постоянного обучения
                        </div>
                    </div>
        
                    <div class="container_inner_box2">
                        <div class="container_inner_box2_title" data-typo>
                            Ирина
                        </div>
                        <div class="container_inner_box2_subtitle" data-typo>
                            продакт-маркетинг-менеджер, 23 года
                        </div>
                        <div class="container_inner_box2_text" data-typo>
                            Полтора года назад я решила перейти из медиа в маркетинг IT, несколько раз подавалась в «Яндекс.Практикум», 
                            но получала отказ. Нужно было прокачаться, и я прошла несколько курсов по маркетингу на Coursera, посмотрела 
                            лекции Школы менеджеров «Яндекса» и Epic Rose. Во время обучения в «Сколково» у нас были карьерные митапы, 
                            куда приходили топовые ребята из разных компаний. Так я закинула CV в «Авито» и нашла новую работу.
                        </div>
                    </div>
                </div>
        
                <div class="content__container_items content__container_items4" data-aos="fade-up" data-aos-duration="1000">

                    <div class="content__container_items_wrapper">
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Нина Осовицкая
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор бренд-центра HH.ru
                            </div>
                            <div class="container_items_box_text" data-typo>
                                Я слабо представляю, как люди, которые не учатся, планируют оставаться востребованными. Важен фокус — 
                                ты как эксперт следишь за новинками в конкретной сфере или постепенно становишься специалистом, который 
                                расширяет набор навыков и специализаций. Оба пути имеют право на существование, но учиться придется в 
                                любом случае. Есть прекрасная схема: 10 % — теоретическая литература, 20 % — курсы и 70 % — практика. 
                                Это принято считать эффективным подходом к обучению и развитию.
                            </div>
                        </div>
        
                        <div class="content__container_items_box" data-typo>
                            <div class="container_items_box_title">
                                Екатерина Барабанова
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор по развитию персонала «Ростелекома»
                            </div>
                            <div class="container_items_box_text" data-typo>
                                <p>
                                    История Ирины — это отличная иллюстрация принципа life-long learning, или «век живи, век учись». 
                                    Мы не знаем, что будет актуально завтра, какие именно знания нам пригодятся, поэтому стоит быть готовым к 
                                    обучению на любом этапе развития карьеры.
                                </p>
                                <p>
                                    Учиться можно не только в университете или на онлайн-курсах — есть консультации с ментором, участие на 
                                    волонтерских началах в интересных проектах, поиск информации в интернете, просмотр профильных каналов, 
                                    участие в хакатонах и работа с индустриальными задачами на профильных площадках (например, Kaggle). 
                                    Все это позволяет учиться новому и держать знания в актуальном состоянии.
                                </p>
                                <p>
                                    Сейчас работодатели смотрят не на «корочки», а на реальные навыки и реализованные проекты. Поэтому всегда 
                                    задавайте себе вопрос, как на практике попробовать что-то новое.
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            

        </div>
    </div>

    <section class="moveline moveline3">
        <div class="moveline__container">
            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>
            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №5<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №5<span>>>>></span>
            </div>
        </div>
    </section>

    <div class="content content5">
        <div class="content__img"><img src="https://img.the-village.ru/Z0aeWd5ZZATp2IgxMaJTvhZWoM5xxfNTPwQ7ZfP_HQA/q:88/plain/2022/01/29/frame5.png" alt=""></div>
    
        <div class="content__container">

            <div class="content__container__wrapper">

                <div class="content__container_inner content__container_inner5" data-aos="fade-up" data-aos-duration="1000">

                    <div class="container_inner_box">
                        <div class="container_inner_box_title" data-typo>
                            Урок №5
                        </div>
                        <div class="container_inner_box_text" data-aos="fade-right" data-aos-duration="1000" data-typo>
                            Важно ли оставаться в одной компании, чтобы вырасти 
                            в профессионала
                        </div>
                    </div>
        
                    <div class="container_inner_box2">
                        <div class="container_inner_box2_title" data-typo>
                            Юлия  
                        </div>
                        <div class="container_inner_box2_subtitle" data-typo>
                            Шеф-редактор, 26 лет
                        </div>
                        <div class="container_inner_box2_text" data-typo>
                            Я работаю в медиа около пяти лет. За это время я ни разу не сменила место работы, пройдя путь от стажера до 
                            шеф-редактора. Для медиа это приличный срок — усидчивость на грани с безумием. Однако для меня развиваться 
                            постепенно в одной экосистеме оказалось проще, чем прыгать по проектам. Я уверена, что если упорно бить в одну 
                            точку и не отказывать в простейшей работе, то в один момент становишься мастером своего дела. В медиа мало 
                            экспертности, все умеют делать примерно одно и то же на одинаково хорошем уровне — такова специфика жанра. 
                            Я думаю, чтобы не потерять работу, когда нейросети смогут писать заголовки и новости, надо возвращаться к 
                            оттачиванию собственной специализации.
                        </div>
                    </div>
                </div>
        
                <div class="content__container_items content__container_items5" data-aos="fade-up" data-aos-duration="1000">

                    <div class="content__container_items_wrapper">
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Нина Осовицкая
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор бренд-центра HH.ru
                            </div>
                            <div class="container_items_box_text" data-typo>
                                Развиваться можно только вместе с развивающейся и очень активно растущей компанией. Например, в HH я 
                                пришла как в классический стартап шестым сотрудником. За это время компания прошла все этапы до выхода 
                                на международный IPO. Если мы говорим про деньги, такая стратегия не самая успешная. Для людей, которым 
                                важно, чтобы у них росла не только зона ответственности, позиция, компетенции и опыт, но еще и компенсация, 
                                надо переходить из компании в компанию.
                            </div>
                        </div>
        
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Никита Черкасенко
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор по HRM-технологиям и аналитике «Ростелекома»
                            </div>
                            <div class="container_items_box_text" data-typo>
                                <p>
                                    Весь мой опыт подсказывает, что профессиональный рост, прокачка компетенций и накопление опыта успешнее и 
                                    интенсивнее проходят в одной компании. Я сам менял место работы по большому счету один раз, и это было на 
                                    восьмом году работы. При этом на месте, с которого я уходил, я сменил позицию и род деятельности пять раз.
                                </p>
                                <p>
                                    С другой стороны, есть сферы, в которых частая смена места работы ведет к повышению дохода и количества 
                                    регалий в резюме. В этом случае нужно понимать, что за ускорение роста дохода придется платить замедлением
                                    или остановкой профессионализации.
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            

        </div>
    </div>

    <section class="moveline moveline3">
        <div class="moveline__container moveline_orange">
            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>
            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
            УРОК №6<span>>>>></span>
            </div>

            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
    
            <div class="container__item">
                УРОК №6<span>>>>></span>
            </div>
        </div>
    </section>

    <div class="content content6">
        <div class="content__img"><img src="https://img.the-village.ru/t1czpHh8p2hXWdYMSzldZ3hEdmd5gnkL1L23Ttik3fg/q:88/plain/2022/01/29/frame6.png" alt=""></div>
    
        <div class="content__container">

            <div class="content__container__wrapper">

                <div class="content__container_inner content__container_inner6" data-aos="fade-up" data-aos-duration="1000">

                    <div class="container_inner_box">
                        <div class="container_inner_box_title" data-typo>
                            Урок №6
                        </div>
                        <div class="container_inner_box_text" data-aos="fade-right" data-aos-duration="1000" data-typo>
                            Как нетворкинг помогает строить карьеру и чем может помешать
                        </div>
                    </div>
        
                    <div class="container_inner_box2">
                        <div class="container_inner_box2_title">
                            Алексей
                        </div>
                        <div class="container_inner_box2_subtitle" data-typo>
                            редактор на фрилансе, 27 лет
                        </div>
                        <div class="container_inner_box2_text" data-typo>
                            Я считаю, что нетворкинг помогает развиваться в любой сфере, но только если у человека есть профессиональные 
                            навыки. Связи — это бонус, а не основа карьеры. В моей трудовой есть записи о четырех работодателях, и к трем 
                            из них я попал благодаря нетворкингу. Мне повезло иметь пул связей, потому что еще в институте я прошел в фонд 
                            «Первое поколение» — это образовательная программа и сообщество студентов и выпускников. Пару лет назад я с 
                            ушел на фриланс с другом — он тоже из фонда, и благодаря нетворкингу мы нашли первых клиентов. Так что широкий 
                            круг знакомств помог мне и в карьере, и на фрилансе.
                        </div>
                    </div>
                </div>
        
                <div class="content__container_items content__container_items6" data-aos="fade-up" data-aos-duration="1000">

                    <div class="content__container_items_wrapper">
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Нина Осовицкая
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор бренд-центра HH.ru
                            </div>
                            <div class="container_items_box_text" data-typo>
                                Сейчас нетворкинг, как и многое другое, сильно сместился в онлайн. Люди, которым может быть сложно 
                                выстраивать контакты в реальном общении, могут делать это в соцсетях в онлайн-формате. Важно не забывать 
                                о границах — зачастую люди чрезмерно активны и не думают о том, где граница между просьбой о совете и 
                                профессиональной консультацией.
                            </div>
                        </div>
        
                        <div class="content__container_items_box">
                            <div class="container_items_box_title" data-typo>
                                Наталия Вялкина
                            </div>
                            <div class="container_items_box_subtitle" data-typo>
                                директор по внутренним коммуникациям и корпоративной культуре «Ростелекома»
                            </div>
                            <div class="container_items_box_text" data-typo>
                                <p>
                                    Выстраивая отношения, нужно понимать, чего вы от них ждете. Условно говоря, если дружите с кем-то, кто 
                                    занимает высокий пост в организации, некорректно рассчитывать на трудоустройство с помощью этого человека. 
                                    Безусловно, профессиональное общение может перерасти в дружеское и наоборот. Но нужно отдавать себе отчет в 
                                    том, на что можно рассчитывать в контексте этих отношений.
                                </p>
                                <p>
                                    Ожидания стоит оговаривать сразу же, и не следует в процессе коммуникации подменять понятия. Бывает так, что 
                                    обращаются за советом, а позже становится понятно, что человек на самом деле хочет добиться другого результата.
                                </p>
                                <p>
                                    Любой диалог в профессиональном поле должен быть кратким либо с обозначением сроков. Например: «Привет, 
                                    мне нужен час твоего времени, чтобы побеседовать». Так человек сразу может понять, когда ему удобно с вами 
                                    поговорить. Если после одного обращения вы не получили ответ или вам не обозначили четкие сроки обратной связи, 
                                    корректно напомнить о себе еще раз. Но дальше давить не стоит — вероятнее всего, про вас помнят, но ответить 
                                    вам пока нечего. 
                                </p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            

        </div>
    </div>

    <section class="moveline moveline3">
        <div class="moveline__container">
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
            </div>
    
            <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
      
              <div class="container__item">
                РОСТЕЛЕКОМ<span>>>>></span>
              </div>
          </div>
    </section>

</div>