<section class="moveline moveline3">
    <div class="moveline__container">
        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>
        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
        </div>

        <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
  
          <div class="container__item">
            РОСТЕЛЕКОМ<span>>>>></span>
          </div>
      </div>
</section>

<section class="promoblock">
    <div class="promoblock__container">

        <div class="promoblock__container_item" data-aos="fade-up" data-aos-duration="1000">
            <div class="promoblock__container_item_container">

                <div class="promoblock__container_item_title" data-typo>
                    Территория возможностей
                </div>
                <div class="promoblock__container_item_text" data-typo>
                    <p>
                        Мы проводим на работе большую часть нашей жизни, и круто, если компания соответствует нашим ценностям, выполнение 
                        задач приносит удовольствие, а активность поощряется, в том числе и карьерным ростом. 
                    </p>
                    <p>
                        «Ростелеком» создает для развития сотрудников комфортную среду. Например, с помощью менторской программы, когда 
                        старшие сотрудники делятся опытом и советами с начинающими. Для экспертов и руководителей это, кстати, тоже полезно 
                        — общение с новыми кадрами позволяет посмотреть на привычные процессы иначе.
                    </p>
                    <p>
                        Выше эксперты много говорили про образование. И в «Ростелекоме» есть возможность учиться на совместной с ВШЭ 
                        программе iMBA, поступить в «Школу программирования» или пройти онлайн-курсы для развития цифровых навыков. 
                        Всего для сотрудников «Ростелекома» доступно более 500 обучающих курсов и 2 500 книг в онлайн-библиотеках.
                    </p>
                    <p>
                        Подробнее о других преимуществах работы в «Ростелекоме» (а их еще много!) читайте по ссылке ниже. 
                    </p>
                </div>
                <div class="promoblock__container_item_btn">
                    <a href="">Карьерный рост в «Ростелекоме»</a>
                </div>

            </div>
        </div>

    </div>
</section>