<!-- <div class="startContainer"> -->

  <!-- <header class="header">
    <div class="container__header">
      <div class="header__inner">
        <p data-typo>
          Есть много тактик, которые помогут добиться успешной карьеры. Одним комфортно пробовать себя в новых сферах, переходить из компании в компанию, встречаться с неожиданностями. Другим подходит строгое планирование, последовательный рост в рамках одного места и постепенное улучшение навыков в узкой специализации. 
        </p>
        <p data-typo>
          Чтобы достичь желаемого успеха, главное — анализировать свои действия и извлекать уроки даже из того опыта, который кажется ошибочным. В специальном проекте The Village и «Ростелекома» мы попросили читателей рассказать истории о своей карьере, а HR-специалистов — провести работу над ошибками. 
        </p>
      </div>
    </div>
  </header> -->
  
  
<!-- </div> -->
