.header {
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  &__inner {
    width: get-vw(290px, 320);
    padding-bottom: get-vw(44px, 320);
  }
  &__inner p {
    font-family: var(--font-alt);
    font-weight: 400;
    font-size: get-vw(16px, 320);
    line-height: get-vw(24px, 320);
    color: #e5e5e5;

    a {
      text-decoration: underline;
      color: #e5e5e5;
    }
  }
  .container__header {
    width: 90%;
    justify-content: flex-start;
    display: flex;
  }
}

.moveline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  overflow: hidden;

  .moveline__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    animation: move 3s linear infinite;

    width: auto;
    background-color: #6c2af5;
    color: #3a3a3a;

    .container__item {
      width: auto;
      font-family: var(--font-alt);

      font-weight: 500;
      font-size: get-vw(13px, 320);
      line-height: get-vw(40px, 320);
      color: #000;
      white-space: nowrap;

      padding: get-vw(5px, 320) 0;

      span {
        margin-left: get-vw(20px, 320);
      }
    }
    .container__item:not(:last-child) {
      margin-right: get-vw(25px, 320);
    }
  }
  .moveline_orange {
    background-color: #ec5c2f;
  }
}

.moveline_reverse {
  .moveline__container {
    animation: move 3s linear infinite reverse;
  }
}
@keyframes move {
  0% {
    transform: translate(-10%, 0);
    transform: translate(-9.1%, 0);
  }
  100% {
    transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.content {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;

  background-color: #3a3a3a;
  position: relative;
  z-index: 3;

  .content__img {
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
    img {
      width: 100%;
      height: 100%;
    }
    width: 100%;
    height: 100%;
  }
  .content__container {
    .content__container__wrapper {
      width: get-vw(290px, 320);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .content__container_inner {
        display: flex;
        justify-content: flex-start;

        flex-direction: column;
        width: get-vw(290px, 320);
        height: get-vw(931px, 320);
        margin-top: get-vw(50px, 320);
        z-index: 1;

        background-size: cover;
        position: relative;

        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/subtract1.svg);

        .container_inner_box {
          padding-left: get-vw(15px, 320);
          padding-top: get-vw(70px, 320);

          .container_inner_box_title {
            font-family: var(--font-alt);

            font-weight: 600;
            font-size: get-vw(13px, 320);
            line-height: 1.2;
            color: #6c2af5;
            margin-bottom: get-vw(20px, 320);
          }
          .container_inner_box_text {
            font-family: var(--font-alt);
            width: get-vw(500px, 320);
            font-weight: 600;
            font-size: get-vw(20px, 320);
            line-height: 1.4;
            color: #6c2af5;
            // margin-bottom: get-vw(20px, 320);
            width: get-vw(260px, 320);
            margin-bottom: get-vw(55px, 320);

            // overflow: hidden;
            // background: linear-gradient(90deg, #000, #fff, #000);
            // background-repeat: no-repeat;
            // background-size: 80%;
            // animation: animate 3s linear infinite;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: rgba(255, 255, 255, 0);
          }
          // @keyframes animate {
          //     0% {
          //       background-position: -500%;
          //     }
          //     100% {
          //       background-position: 500%;
          //     }
          //   }
        }
        .container_inner_box2 {
          padding-left: get-vw(15px, 320);
          .container_inner_box2_title {
            font-family: var(--font-alt);

            font-weight: 600;
            font-size: get-vw(20px, 320);
            line-height: 1.2;
            color: #6c2af5;
            margin-bottom: get-vw(10px, 320);
          }
          .container_inner_box2_subtitle {
            font-family: var(--font-alt);

            font-weight: 400;
            font-size: get-vw(13px, 320);
            line-height: 1.2;
            color: #6c2af5;
            margin-bottom: get-vw(30px, 320);
          }
          .container_inner_box2_text {
            font-family: var(--font-alt);
            line-height: get-vw(24px, 320);
            font-weight: 400;
            font-size: get-vw(16px, 320);

            color: #6c2af5;
            // margin-bottom: get-vw(20px, 320);
            width: get-vw(260px, 320);
            padding-bottom: get-vw(60px, 320);
          }
        }
      }
      .content__container_inner2 {
        display: flex;
        justify-content: center;
        width: get-vw(290px, 320);
        height: get-vw(844px, 320);
        z-index: 1;
        color: #ec5c2f;

        background-size: cover;
        position: relative;
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок2.svg);
        .container_inner_box {
          .container_inner_box_title {
            color: #ec5c2f;
          }
          .container_inner_box_text {
            line-height: get-vw(24px, 320);
            color: #ec5c2f;
          }
        }
        .container_inner_box2 {
          .container_inner_box2_title {
            color: #ec5c2f;
          }
          .container_inner_box2_subtitle {
            color: #ec5c2f;
          }
          .container_inner_box2_text {
            line-height: get-vw(24px, 320);
            color: #ec5c2f;
          }
        }
      }
      .content__container_inner3 {
        display: flex;
        justify-content: center;
        width: get-vw(290px, 320);
        height: get-vw(837px, 320);

        z-index: 1;

        background-size: cover;
        position: relative;
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/02/urok3_2.svg);
        // background: #CDC1E7;

        .container_inner_box {
          padding-top: 0;
        }
        .container_inner_box2 {
          .container_inner_box2_text {
            padding-bottom: 0;
          }
        }
      }
      .content__container_inner4 {
        display: flex;
        justify-content: center;
        width: get-vw(290px, 320);
        height: get-vw(765px, 320);
        z-index: 1;
        color: #ec5c2f;

        background-size: cover;
        position: relative;
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок4.svg);
        .container_inner_box {
          .container_inner_box_title {
            color: #ec5c2f;
          }
          .container_inner_box_text {
            color: #ec5c2f;
          }
        }
        .container_inner_box2 {
          .container_inner_box2_title {
            color: #ec5c2f;
          }
          .container_inner_box2_subtitle {
            color: #ec5c2f;
          }
          .container_inner_box2_text {
            color: #ec5c2f;
          }
        }
      }
      .content__container_inner5 {
        display: flex;
        justify-content: center;
        width: get-vw(290px, 320);
        height: get-vw(949px, 320);
        z-index: 1;

        background-size: cover;
        position: relative;
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок5.svg);
        .container_inner_box2 {
          .container_inner_box2_text {
            width: get-vw(260px, 320);
            // padding-right: get-vw(40px, 320);
          }
        }
      }
      .content__container_inner6 {
        display: flex;
        justify-content: center;
        width: get-vw(290px, 320);
        height: get-vw(880px, 320);

        z-index: 1;
        color: #ec5c2f;

        background-size: cover;
        position: relative;
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок6.svg);
        .container_inner_box {
          .container_inner_box_title {
            color: #ec5c2f;
          }
          .container_inner_box_text {
            color: #ec5c2f;
          }
        }
        .container_inner_box2 {
          .container_inner_box2_title {
            color: #ec5c2f;
          }
          .container_inner_box2_subtitle {
            color: #ec5c2f;
          }
          .container_inner_box2_text {
            color: #ec5c2f;
          }
        }
      }

      .content__container_items {
        width: get-vw(290px, 320);
        height: get-vw(1070px, 320);

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        margin-bottom: get-vw(52px, 320);

        background-size: cover;
        position: relative;

        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок3-2.svg);

        .content__container_items_wrapper {
          width: get-vw(290px, 320);
          padding-top: get-vw(50px, 320);

          .content__container_items_box:first-child {
            margin-bottom: get-vw(50px, 320);
          }
          .container_items_box_title {
            font-family: var(--font-alt);
            font-weight: 600;
            font-size: get-vw(20px, 320);
            line-height: 1.2;

            color: #3a3a3a;
            margin-bottom: get-vw(10px, 320);
            padding-left: get-vw(15px, 320);
          }
          .container_items_box_subtitle {
            font-family: var(--font-alt);
            font-weight: 400;
            font-size: get-vw(13px, 320);
            line-height: 1.2;
            padding-left: get-vw(15px, 320);
            color: #3a3a3a;
            margin-bottom: get-vw(30px, 320);
            width: get-vw(260px, 320);
          }
          .container_items_box_text {
            font-family: var(--font-alt);
            font-weight: 400;
            font-size: get-vw(16px, 320);
            line-height: get-vw(24px, 320);

            width: get-vw(260px, 320);
            color: #3a3a3a;
            padding-left: get-vw(15px, 320);
          }
        }
      }
      .content__container_items2 {
        height: get-vw(1746px, 320);
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок2-1.svg);
        width: get-vw(290px, 320);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-bottom: get-vw(52px, 320);

        background-size: cover;
        position: relative;
        .content__container_items_wrapper {
          padding-top: 0;
        }
      }
      .content__container_items3 {
        height: get-vw(1054px, 320);
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок3-2.svg);
        width: get-vw(290px, 320);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: get-vw(52px, 320);

        background-size: cover;
        position: relative;
        .content__container_items_wrapper {
          padding-top: 0;
        }
      }
      .content__container_items4 {
        height: get-vw(1562px, 320);
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/02/урок4-3.svg);
      }
      .content__container_items5 {
        height: get-vw(1270px, 320);
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок5-2.svg);
      }
      .content__container_items6 {
        height: get-vw(1590px, 320);
        background-image: url(https://cdn.the-village.ru/the-village.ru/2022/02/01/урок6-2.svg);
      }
    }
  }
}

// .content1 {
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
//   background-image: url(https://img.the-village.ru/nmUV-gxslmz7ONTRlFlrUfNznDwdmpGyyPLOQ_08K18/q:88/plain/2022/02/01/1m.png);
// }
// .content2 {
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
//   background-image: url(https://img.the-village.ru/U7nXOumAQ5VBG1bzRnMMZp-6WD-OYAKwmoUEqMEqsRs/q:88/plain/2022/02/01/2m.png);
// }
// .content3 {
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
//   background-image: url(https://img.the-village.ru/Gp-4ZmW6nYaQDpkJGo_WiBcVL-pbmWu55defql-VXMI/q:88/plain/2022/02/01/3m.png);
// }
// .content4 {
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
//   background-image: url(https://img.the-village.ru/blUzKNFXY4BSjuF00Yb25FkhNTWv-nMFh0HGxOknZAw/q:88/plain/2022/02/01/4m.png);
// }
// .content5 {
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
//   background-image: url(https://img.the-village.ru/_7U1JZWZnchaNmI5h_vMv4mdPMUD_KYnVSYuGmjjGFM/q:88/plain/2022/02/01/5m.png);
// }
// .content6 {
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
//   background-image: url(https://img.the-village.ru/sFvtmswtjWEbloBqavC0-7r01VMBuin4Yw2bmuBAvUc/q:88/plain/2022/02/01/6m.png);
// }
