.startContainer {
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  height: auto;

  overflow: hidden;

  z-index: 2;

  .header {
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    &__inner {
      width: get-vw(290px, 320);
      padding-bottom: get-vw(44px, 320);
    }
    &__inner p {
      font-family: var(--font-alt);
      font-weight: 400;
      font-size: get-vw(16px, 320);
      line-height: get-vw(24px, 320);
      color: #e5e5e5;

      a {
        text-decoration: underline;
        color: #e5e5e5;
      }
    }
    .container__header {
      width: 90%;
      justify-content: flex-start;
      display: flex;
    }
  }
}
